.upload-page {
  @extend .container;
  border-top: 1px solid $mercury;
  &__container {
    display: flex;
    flex-direction: column;
    @include offset;
  }
  &__title {
    @include header(24px, 32px);
    color: $black;
    margin: 24px 0 32px 0;
    @include tablet {
      @include header(36px, 44px);
    }
  }

  &__video {
    &--title {
      @include subheader(12px, 24px);
      color: $silver;
    }
    &--thumbnail {
      @include upload-thumbnail;
      margin-bottom: 32px;
    }
  }
  &__comment-box {
    &--title {
      @include input-box;
      padding-left: 16px;
      margin-bottom: 24px;
    }
    &--description {
      @include input-box;
      padding-left: 16px;
      margin-bottom: 32px;
      height: 143px;
    }
    &--label {
      @include subheader(12px, 24px);
      color: $silver;
    }
  }
  &__btn {
    @include btn;
    padding: 11px 0;
    width: 100%;
    max-width: 288px;
    height: 48px;
    margin-bottom: 24px;
    @include tablet {
      max-width: 160px;
      margin: 8px 0 0 16px;
    }
  }
}
