// FONT MIXINS //

@mixin header($font-size, $line-height) {
  font-family: "Avenir-Bold";
  font-size: $font-size;
  line-height: $line-height;
}
@mixin subheader($font-size, $line-height) {
  font-family: "Avenir-Demi";
  font-size: $font-size;
  line-height: $line-height;
}
@mixin text($font-size, $line-height) {
  font-family: "Avenir-Regular";
  font-size: $font-size;
  line-height: $line-height;
}
